*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log
*.DS_Store
[Tt]humbs.db
_ReSharper.*
*.resharper
Ankh.NoLoad
*.scc
*.sw[po]

# Visual Studio litter
UpgradeLog*.XML
_UpgradeReport_Files
vwd.*
.vs/

# build artifacts
[Oo]bj
[Bb]in
[Pp]ackages
!src/Netchex/gulp/bin
`

# test results
TestResults

# build paths
/artifacts/
/build/
/logs/
/src/.localhistory/

us.stackdump
deploy/sql.schema/HRPremier/RedGate.ssc
*/UploadFiles/Employees/*-*
src/.localhistory/
web.legacy/Reports/SSRS/PDFs/
src.utilities/**/packages/*
# NuGet Ignores
/src.legacy/Helpers/TimeClockCompiler/TimeClockManager/packages
API/Internal/packages
/src.legacy/Helpers/TimeClockCompiler/TimeClockManager/packages
/src.utilities/**/packages/*
src/Netchex/node_modules/*
src/presentation/Netchex/node_modules/*
src/Netchex/spa_build
src/Netchex/spa_tests/*.min.*
src/Netchex/spa_tests/*.min-*
src/Netchex/spa_tests/*.json
src/Netchex/spa_docs
src/Netchex/**/*.js.map

src/Netchex/spa_tests/coverage

src/Netchex/karma-test-results.xml
src/Netchex/karma-es6-test-results.xml

# NUnit Test Coverage Results
*.coverage

#NCrunch
*.ncrunchproject
*.ncrunchsolution

#JetBrains
.idea/*

src/Netchex/.idea/*
src/Netchex/Scripts/Vendor
*.orig
src/Netchex.Tests.UI/Documents*
src/Netchex.Tests.UI/Reports*
src.utilities/DataViz/DataViz.Client.Electron/dist
jspm_packages
node_modules
spa_build_es6
spa_bundles
.vscode
src/Netchex/spa/**/*.templates.js
src/Netchex/spa/**/*-templates.ts
Test-Results
/API/Internal/Netchex.API.Internal.Tests/RepositoriesTests/Geofence

#Global Navigation Generated CSS and Build
src/Netchex/spa/globalnav/build
src/Netchex/spa/globalnav/src/**/*.css

